.page {
  box-sizing: border-box;
  padding: 0;
  height: 100vh;
  background-color: #ebebeb;
}

.body {
  padding-inline: 10rem;
}

@media (max-width: 968px) {
  .body {
    padding-inline: 2rem;
  }
}