.header {
    width: 100%;
    background-color: #009fb7;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-inline: 9.5rem;
}

.logo {
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 968px) {
    .header {
      padding-inline: 2rem;
    }
  }